.statistics {
    width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
    height: 100vh;
}

.title {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.21;
    text-align: center;
    padding-top: 40px;
}
